{% extends 'base.html.twig' %}

{% block title %}Nos prestations{% endblock %}

{% block body %}
<main>

    {# Hero Section avec image de fond et texte #}
    <section class="section-image section-full-width-right light ken-burn-center" data-parallax="scroll" data-image-src="{{ asset('assets/img/chalets/chalets.jpg') }}">
        <div class="container text-center" style="padding-top: 70vh;">
            <h1>Nos prestations</h1>
        </div>
    </section>

    {# Slider des services #}
    <section>
        <div class="container">
            <ul class="slider" data-options="type:carousel,arrows:true,controls:out,perView:4,perViewMd:3,perViewSm:2,perViewXs:1,gap:30">
                {% set services = [
                    {
                        icon: 'fa-solid fa-cloud-sun',
                        title: 'Belle vue',
                        text: 'Profitez d’une magnifique vue sur la Chalaronne et la nature environnante dans un cadre calme et verdoyant.'
                    },
                    {
                        icon: 'fa-solid fa-mug-hot',
                        title: 'Commodités à pied',
                        text: 'Boulangerie, restaurants, commerces et cafés sont facilement accessibles à pied depuis le camping.'
                    },
                    {
                        icon: 'fa-solid fa-shoe-prints',
                        title: 'Balades',
                        text: 'De nombreux chemins de promenade et pistes cyclables longent la rivière et traversent la campagne.'
                    },
                    {
                        icon: 'fa-solid fa-person-hiking',
                        title: 'Activités',
                        text: 'Profitez de nombreuses activités : mini-golf, balades dans la nature, détente au bord de la rivière et possibilité d’emmener vos chevaux.'
                    }
                ] %}
                {% for service in services %}
                    <li>
                        <div class="cnt-box cnt-box-top-icon boxed h-100">
                            <i class="{{ service.icon }}"></i>
                            <div class="caption">
                                <h2>{{ service.title }}</h2>
                                <p>{{ service.text }}</p>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>

    {# Section Refuges avec Tabs #}
    <section class="section-base">
        <div class="container">
            <div class="tab-box" data-tab-anima="fade-in">
                <ul class="tab-nav align-center">
                    <li class="active"><a href="#">Nos chalets</a></li>
                    <li><a href="#">Nos emplacements</a></li>
                    <li><a href="#">Les emplacements résidents</a></li>
                </ul>

                {# Panel Chalets #}
                <div class="panel active">
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="slider light" data-options="arrows:true,nav:true">
                                <li>
                                    <a class="img-box lightbox" href="{{ asset('assets/img/chalets/chalet_chalaronne.jpg') }}" data-lightbox-anima="fade-in">
                                        <img src="{{ asset('assets/img/chalets/chalet_chalaronne.jpg') }}" alt="Chalet principal du Camping de la Chalaronne" />
                                    </a>
                                </li>
                                <li>
                                    <a class="img-box lightbox" href="{{ asset('assets/img/chalets/interieur_chalets.webp') }}" data-lightbox-anima="fade-in">
                                        <img src="{{ asset('assets/img/chalets/interieur_chalets.webp') }}" alt="Intérieur d’un chalet au Camping de la Chalaronne" />
                                    </a>
                                </li>
                                <li>
                                    <a class="img-box lightbox" href="{{ asset('assets/img/chalets/chalets.jpg') }}" data-lightbox-anima="fade-in">
                                        <img src="{{ asset('assets/img/chalets/chalets.jpg') }}" alt="Vue extérieure des chalets du Camping de la Chalaronne" />
                                    </a>
                                </li>
                                <li>
                                    <a class="img-box lightbox" href="{{ asset('assets/img/chalets/all_chalets.jpg') }}" data-lightbox-anima="fade-in">
                                        <img src="{{ asset('assets/img/chalets/all_chalets.jpg') }}" alt="Tous les chalets du Camping de la Chalaronne" />
                                    </a>
                                </li>
                            </ul>
                            <hr class="space-xs" />
                            <ul class="slider light" data-options="type:carousel,arrows:true,perView:4">
                                <li>
                                    <a class="img-box lightbox" href="{{ asset('assets/img/camping/arc.jpg') }}" data-lightbox-anima="fade-in">
                                        <img src="{{ asset('assets/img/camping/arc.jpg') }}" alt="Arc de vue sur le camping de la Chalaronne" />
                                    </a>
                                </li>
                                <li>
                                    <a class="img-box lightbox" href="{{ asset('assets/img/camping/couche.jpg') }}" data-lightbox-anima="fade-in">
                                        <img src="{{ asset('assets/img/camping/couche.jpg') }}" alt="Coucher de soleil sur le Camping de la Chalaronne" />
                                    </a>
                                </li>
                                <li>
                                    <a class="img-box lightbox" href="{{ asset('assets/img/camping/eau.jpg') }}" data-lightbox-anima="fade-in">
                                        <img src="{{ asset('assets/img/camping/eau.jpg') }}" alt="Bord de la Chalaronne au Camping de la Chalaronne" />
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <div class="title">
                                <h2>Chalet</h2>
                                <p>Venez découvrir nos chalets</p>
                            </div>
                            <p>
                                Les chalets du Camping de la Chalaronne vous accueillent dans un cadre paisible et verdoyant, idéal pour un séjour en famille ou entre amis.
                                Confortables et bien équipés, ils offrent tout le nécessaire pour profiter pleinement de vos vacances au cœur de la nature.
                            </p>
                            <table class="table table-grid table-border align-left text-bold table-10">
                                <tbody>
                                    <tr>
                                        <td>6 personnes</td>
                                        <td>25 m2</td>
                                        <td>55 € par nuit</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                {# Panel Emplacements #}
                <div class="panel">
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="slider light" data-options="arrows:true,nav:true" data-trigger="manual">
                                <li>
                                    <a class="img-box lightbox" href="{{ asset('assets/img/emplacement/emplacement.jpg') }}" data-lightbox-anima="fade-in">
                                        <img src="{{ asset('assets/img/emplacement/emplacement.jpg') }}" alt="Emplacement de tente au Camping de la Chalaronne" />
                                    </a>
                                </li>
                                <li>
                                    <a class="img-box lightbox" href="{{ asset('assets/img/emplacement/emplacement.png') }}" data-lightbox-anima="fade-in">
                                        <img src="{{ asset('assets/img/emplacement/emplacement.png') }}" alt="Vue aérienne des emplacements du Camping de la Chalaronne" />
                                    </a>
                                </li>
                                <li>
                                    <a class="img-box lightbox" href="{{ asset('assets/img/emplacement/emplacement3.jpg') }}" data-lightbox-anima="fade-in">
                                        <center><img src="{{ asset('assets/img/emplacement/emplacement3.jpg') }}" alt="Emplacement ombragé pour caravane au Camping de la Chalaronne" /></center>
                                    </a>
                                </li>
                            </ul>
                            <hr class="space-xs" />
                            <ul class="slider light" data-options="type:carousel,arrows:true,perView:4" data-trigger="manual">
                                <li>
                                    <a class="img-box lightbox" href="{{ asset('assets/img/sanitaires/machines.jpg') }}" data-lightbox-anima="fade-in">
                                        <img src="{{ asset('assets/img/sanitaires/machines.jpg') }}" alt="Machines à laver dans les sanitaires du Camping de la Chalaronne" />
                                    </a>
                                </li>
                                <li>
                                    <a class="img-box lightbox" href="{{ asset('assets/img/sanitaires/douche.jpg') }}" data-lightbox-anima="fade-in">
                                        <img src="{{ asset('assets/img/sanitaires/douche.jpg') }}" alt="Douche dans les sanitaires du Camping de la Chalaronne" />
                                    </a>
                                </li>
                                <li>
                                    <a class="img-box lightbox" href="{{ asset('assets/img/sanitaires/lavabo.jpg') }}" data-lightbox-anima="fade-in">
                                        <img src="{{ asset('assets/img/sanitaires/lavabo.jpg') }}" alt="Lavabo dans les sanitaires du Camping de la Chalaronne" />
                                    </a>
                                </li>
                                <li>
                                    <a class="img-box lightbox" href="{{ asset('assets/img/sanitaires/wc.jpg') }}" data-lightbox-anima="fade-in">
                                        <img src="{{ asset('assets/img/sanitaires/wc.jpg') }}" alt="WC dans les sanitaires du Camping de la Chalaronne" />
                                    </a>
                                </li>
                                <li>
                                    <a class="img-box lightbox" href="{{ asset('assets/img/sanitaires/wch.jpg') }}" data-lightbox-anima="fade-in">
                                        <img src="{{ asset('assets/img/sanitaires/wch.jpg') }}" alt="WC handicapé dans les sanitaires du Camping de la Chalaronne" />
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <div class="title">
                                <h2>Emplacements du camping</h2>
                                <p>Venez découvrir nos emplacements</p>
                            </div>
                            <p>
                                Profitez d’emplacements spacieux et ombragés au bord de la Chalaronne, dans un cadre naturel calme et verdoyant.
                                Idéal pour les tentes, caravanes et camping-cars, le camping offre un environnement agréable pour se détendre et profiter pleinement de la nature et des activités aux alentours.
                            </p>
                            <table class="table table-grid table-border align-left text-bold table-10">
                                <tbody>
                                    <tr>
                                        <td>Bord de la Chalaronne</td>
                                        <td>Emplacements spacieux</td>
                                        <td>À partir de 10 € / nuit</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="#" class="btn-sm btn-circle btn-border btn">Voir les informations</a>
                        </div>
                    </div>
                </div>

                {# Panel Emplacements Résidentiels #}
                <div class="panel">
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="slider light" data-options="arrows:true,nav:true" data-trigger="manual">
                                <li>
                                    <a class="img-box lightbox" href="{{ asset('assets/img/emplacement/emplacement_resident.jpg') }}" data-lightbox-anima="fade-in">
                                        <img src="{{ asset('assets/img/emplacement/emplacement_resident.jpg') }}" alt="Emplacement résidentiel pour mobil-home au Camping de la Chalaronne" />
                                    </a>
                                </li>
                                <li>
                                    <a class="img-box lightbox" href="{{ asset('assets/img/emplacement/emplacement_resident2.webp') }}" data-lightbox-anima="fade-in">
                                        <img src="{{ asset('assets/img/emplacement/emplacement_resident2.webp') }}" alt="Emplacement résidentiel pour caravane au Camping de la Chalaronne" />
                                    </a>
                                </li>
                                <li>
                                    <a class="img-box lightbox" href="{{ asset('assets/img/emplacement/emplacement3.jpg') }}" data-lightbox-anima="fade-in">
                                        <center><img src="{{ asset('assets/img/emplacement/emplacement3.jpg') }}" alt="Emplacement résidentiel ombragé au Camping de la Chalaronne" /></center>
                                    </a>
                                </li>
                            </ul>
                            <hr class="space-xs" />
                            <ul class="slider light" data-options="type:carousel,arrows:true,perView:4" data-trigger="manual">
                                <li>
                                    <a class="img-box lightbox" href="{{ asset('assets/img/camping/eau.jpg') }}" data-lightbox-anima="fade-in">
                                        <center><img src="{{ asset('assets/img/camping/eau.jpg') }}" alt="Bord de la Chalaronne près des emplacements résidentiels" /></center>
                                    </a>
                                </li>
                                <li>
                                    <a class="img-box lightbox" href="{{ asset('assets/img/sanitaire1/lavabo.jpg') }}" data-lightbox-anima="fade-in">
                                        <center><img src="{{ asset('assets/img/sanitaire1/lavabo.jpg') }}" alt="Lavabo des sanitaires résidentiels" /></center>
                                    </a>
                                </li>
                                <li>
                                    <a class="img-box lightbox" href="{{ asset('assets/img/sanitaire1/lavabo2.jpg') }}" data-lightbox-anima="fade-in">
                                        <center><img src="{{ asset('assets/img/sanitaire1/lavabo2.jpg') }}" alt="Deuxième lavabo des sanitaires résidentiels" /></center>
                                    </a>
                                </li>
                                <li>
                                    <a class="img-box lightbox" href="{{ asset('assets/img/sanitaire1/interieur.jpg') }}" data-lightbox-anima="fade-in">
                                        <center><img src="{{ asset('assets/img/sanitaire1/interieur.jpg') }}" alt="Intérieur des sanitaires résidentiels" /></center>
                                    </a>
                                </li>
                                <li>
                                    <a class="img-box lightbox" href="{{ asset('assets/img/sanitaire1/exterieur.jpg') }}" data-lightbox-anima="fade-in">
                                        <center><img src="{{ asset('assets/img/sanitaire1/exterieur.jpg') }}" alt="Extérieur des sanitaires résidentiels" /></center>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <div class="title">
                                <h2>Emplacements Résidentiels</h2>
                                <p>Profitez de nos emplacements résidentiels</p>
                            </div>
                            <p>
                                Nos emplacements résidentiels sont disponibles toute l'année pour les caravanes ou mobil-homes. Profitez d’un emplacement calme, bien entretenu, avec toutes les commodités à proximité. Idéal pour un séjour long terme, au bord de la Chalaronne, dans un cadre verdoyant et agréable.
                            </p>
                            <table class="table table-grid table-border align-left text-bold table-10">
                                <tbody>
                                    <tr>
                                        <td>Bord de la Chalaronne</td>
                                        <td>Emplacement résidentiel</td>
                                        <td>À partir de 116 € / mois</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="#" class="btn-sm btn-circle btn-border btn">Voir les informations</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</main>
{% endblock %}