<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Camping de la Chalaronne – Vacances au bord de l'eau à Saint-Didier-sur-Chalaronne{% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="description" content="{% block meta_description %}Découvrez le Camping de la Chalaronne à Saint-Didier-sur-Chalaronne. Profitez d’emplacements spacieux, de mobil-homes et d’activités en plein air pour toute la famille.{% endblock %}">

        <meta name="keywords" content="Camping de la Chalaronne, Camping Saint-Didier-sur-Chalaronne, Camping Ain, Vacances en camping Ain, Camping bord de l’eau Ain, Séjour famille camping Ain, Location mobil-home Ain, Emplacements camping Ain, Camping avec piscine Ain, Activités enfants camping Ain, Camping proche Bresse, Vacances nature Ain, Camping convivial pour famille, Randonnée et loisirs Ain, Séjour détente camping Ain, Location chalet camping Ain, Parc aquatique camping Ain, Animation enfants camping, Aire de jeux camping, Restaurant à côté du camping, Location tente / caravane, Équipements pour familles camping, Camping avec sanitaires modernes, Camping près de rivières et lacs, Camping dans l’Ain, Vacances Bresse Ain, Camping près de Lyon, Camping à 1h de Bourg-en-Bresse, Séjour nature Ain Rhône-Alpes">

        <!-- Open Graph (Facebook / LinkedIn / WhatsApp) -->
        <meta property="og:title" content="{% block og_title %}Camping de la Chalaronne – Vacances au bord de l'eau{% endblock %}">
        <meta property="og:description" content="{% block og_description %}Profitez d’un séjour inoubliable au Camping de la Chalaronne à Saint-Didier-sur-Chalaronne. Emplacements spacieux et activités pour toute la famille.{% endblock %}">
        <meta property="og:image" content="{% block og_image %}{{ asset('assets/img/logo/Logo_camping_chalaronne_dark.png') }}{% endblock %}">
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{ app.request.uri }}">

        <!-- Twitter Card -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="{% block twitter_title %}Camping de la Chalaronne – Vacances au bord de l'eau{% endblock %}">
        <meta name="twitter:description" content="{% block twitter_description %}Profitez d’un séjour inoubliable au Camping de la Chalaronne à Saint-Didier-sur-Chalaronne. Emplacements spacieux et activités pour toute la famille.{% endblock %}">
        <meta name="twitter:image" content="{% block twitter_image %}{{ asset('assets/img/logo/Logo_camping_chalaronne_dark.png') }}{% endblock %}">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {# Theme CSS #}
            <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-grid.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/glide.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/magnific-popup.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/content-box.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/contact-form.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/media-box.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/skin.css') }}">
            <!-- Font Awesome CDN -->
            <script src="https://kit.fontawesome.com/e1025b0137.js" crossorigin="anonymous"></script>
            {# Favicon #}
            <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('assets/img/logo/Logo_camping_chalaronne_dark.png') }}">
            <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('assets/img/logo/Logo_camping_chalaronne_dark.png') }}">
            <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assets/img/logo/Logo_camping_chalaronne_dark.png') }}">
            <link rel="shortcut icon" href="{{ asset('assets/img/logo/Logo_camping_chalaronne_dark.png') }}">
            <style>
            /* NAVBAR DE BASE */
            nav {
                transition: all 0.3s ease;
            }

            .menu-brand img {
                height: 120px;
                transition: all 0.3s ease;
            }

            /* ÉTAT SCROLL */
            .nav-scrolled {
                height: 85px !important;
                padding: 0 !important;
            }

            .nav-scrolled .menu-brand {
                display: none;
            }

            .nav-scrolled .menu-cnt {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .nav-scrolled #main-menu {
                display: flex;
                justify-content: center;
                width: 100%;
            }
            .social-icons a {
                display: inline-block;
                margin-right: 10px; /* espace entre les icônes */
                font-size: 24px;    /* taille des icônes */
                color: #fff;        /* couleur des icônes */
                transition: color 0.3s;
            }

            .social-icons a:hover {
                color: #ffd700;     /* couleur au survol */
            }
        </style>
        {% endblock %}

        {% block javascripts %}
            {# jQuery (en premier, obligatoire) #}
            <script src="{{ asset('assets/js/jquery.min.js') }}"></script>

            {# Main JS #}
            <script src="{{ asset('assets/js/main.js') }}"></script>

            {# Plugins #}
            <script src="{{ asset('assets/js/parallax.min.js') }}"></script>
            <script src="{{ asset('assets/js/glide.min.js') }}"></script>
            <script src="{{ asset('assets/js/magnific-popup.min.js') }}"></script>
            <script src="{{ asset('assets/js/tab-accordion.js') }}"></script>
            <script src="{{ asset('assets/js/imagesloaded.min.js') }}"></script>

            {# Scripts async #}
            <script src="{{ asset('assets/js/progress.js') }}" async></script>
            <script src="{{ asset('assets/js/custom.js') }}" async></script>
            <script src="{{ asset('assets/js/contact-form/contact-form.js') }}" async></script>
        {% endblock %}
    </head>
    <body class="page-main">
        <div id="preloader"></div>
        {# {% if app.user %} #}
        <nav class="menu-classic menu-fixed menu-transparent light align-right" id="mainNav" data-menu-anima="fade-in">
            <div class="container">

                <div class="menu-brand">
                    <a href="{{ path('app_index') }}">
                        <img src="{{ asset('assets/img/logo/Logo_camping_chalaronne_dark.png') }}" alt="logo">
                    </a>
                </div>

                <i class="menu-btn"></i>

                <div class="menu-cnt">
                    <ul id="main-menu">
                        <li><a href="{{ path('app_index') }}">Accueil</a></li>
                        <li><a href="{{ path('app_prestation') }}">Nos prestations</a></li>
                        <li><a href="{{ path('app_activite') }}">Nos activités</a></li>
                        <li><a href="{{ path('app_contact') }}">Contact</a></li>
                    </ul>
                </div>

            </div>
        </nav>
        {# {% endif %} #}
        {% block body %}{% endblock %}
        <footer class="light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <h3>Maps</h3>
                        <iframe
                            src="https://www.google.com/maps?q=46.175263504163055,4.814278114512782&hl=fr&z=16&output=embed"
                            width="100%"
                            height="250"
                            style="border:0;"
                            allowfullscreen=""
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade">
                        </iframe>
                    </div>
                    <div class="col-lg-4">
                        <h3>Contacts</h3>
                        <ul class="icon-list icon-line">
                            <li>159 rue des illards, 01140 st didier sur chalaronne</li>
                            <li><a href="mailto:campingchalaronne@orange.fr">campingchalaronne@orange.fr</a></li>
                            <li><a href="https://restaurant-chez-sandrine.fr/" target="_blank">restaurant-chez-sandrine.fr</a></li>
                            <li>04 74 02 56 14</li>
                            <hr>
                            <center><div class="social-icons">
                                <a href="https://www.facebook.com/tonpage" target="_blank">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </a>
                                <a href="https://www.instagram.com/toncompte" target="_blank">
                                    <i class="fa-brands fa-instagram"></i>
                                </a>
                                <a href="https://www.tiktok.com/@toncompte" target="_blank">
                                    <i class="fa-brands fa-tiktok"></i>
                                </a>
                            </div></center>
                        </ul>

                    </div>
                    <div class="col-lg-4">
                        <h3>Liens utiles</h3>
                        <ul class="icon-list icon-line">
                            <li><a href="{{ path('app_index') }}">Accueil</a></li>
                            <li><a href="{{ path('app_index') }}">Nos prestations</a></li>
                            <li><a href="{{ path('app_index') }}">Nos activités</a></li>
                            <li><a href="{{ path('app_index') }}">Contact</a></li>
                            <li><a href="{{ path('app_index') }}">À propos</a></li>
                            <li><a href="{{ path('app_index') }}">Mentions légales</a></li>
                            <li><a href="{{ path('app_index') }}">Politique de confidentialité</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <script>
            window.addEventListener("scroll", function () {
                const nav = document.getElementById("mainNav");

                if (window.scrollY > 50) {
                    nav.classList.add("nav-scrolled");
                } else {
                    nav.classList.remove("nav-scrolled");
                }
            });
        </script>
    </body>
</html>
